.nav-pills .nav-link.active {
    background-color: #ffc107 !important;
    color: black !important;
    font-weight: bold;
}
.nav-pills .nav-link {
    color: black !important;
}
.nav-pills .nav-link:hover {
    color: #555 !important;
}